<!-- This looks like an HTML file but HandlebarsJS requires this HTML-like syntax -->
<!-- this will be rendered by the browser via handlebars -->

<div class='d-flex'>
    <div class='d-flex p-1 align-self-center'>
        <button class='btn btn-primary add-demog-btn department'>+ Add Demographic</button>
    </div>
</div>
