<!-- This looks like an HTML file but HandlebarsJS requires this HTML-like syntax -->
<!-- this will be rendered by the browser via handlebars -->

<div class='d-flex'>
    <div class='p-1 align-self-center'>
        <button class='btn btn-primary add-demog-btn department'>+ Add Dep</button>
    </div>
    <div class='p-1 align-self-center'>
         <button class='btn btn-primary add-demog-btn division'>+ Add Div</button>
    </div>
</div>
