<!-- This looks like an HTML file but HandlebarsJS requires this HTML-like syntax -->
<!-- This will be rendered by the browser via handlebars -->
<div class="demographic-row", id={{demographicId}}>
    <div id={{departmentId}}>
        <div class='d-flex p-1'>
            <div class='text-center'>
                {{#unless departmentId}}
                <label class='align-self-center' for="departmentSelection">Department:</label>
                {{/unless}}
                <select class='demographic-selection department-selection form-control align-self-center'>
                </select>
            </div>
        </div>
    </div>

    <div id={{divisionId}}>
        <div class='d-flex p-1'>
            <div class='text-center'>
                {{#unless divisionId}}
                <label class='align-self-center' for="divisionSelection">Division:</label>
                {{/unless}}
                <select class='demographic-selection division-selection form-control align-self-center'>
                </select>
            </div>
        </div>
    </div>

    <div class='col ml-auto'>
        <div class='ml-auto'>
            <button type="button" class="btn btn-fab-minus-xs remove-demog-btn">
                <i class="fas fa-minus fab-remove"></i>
            </button>
        </div>
    </div>
</div>
