<!-- This looks like an HTML file but HandlebarsJS requires this HTML-like syntax -->
<!-- This will be rendered by the browser via handlebars -->

<div id={{departmentId}}>
    <div class='d-flex'>
        <div class='text-center'>
            <label class='align-self-center' for="departmentSelection">Department:</label>
            <select class='form-control align-self-center'>
            </select>
        </div>
    </div>
</div>
