extends layout

block content
    br
    h1 Oops! Encountered an error! 
    br 
    p We apologize for the inconvenience and promise to fire the dev team.
    br 
    p Error:
    br
    h1= message
    h2= error.status
    br 
    pre #{error.stack}
