mixin hour(name)
  tr
    td.hour= name
    each val in [0, 0, 0, 0, 0]
      td= val
  tr
    td
    each val in [0, 0, 0, 0, 0]
      td= val
  tr
    td
    each val in [0, 0, 0, 0, 0]
      td= val

br
p.heatmap-title  heatmap display 
.hm-schedule.loading
  .timeline
    table
      tr
        th
        th.dayheader Monday
        th.dayheader Tuesday
        th.dayheader Wednesday
        th.dayheader Thursday
        th.dayheader Friday
      tr
      - var n = 0;
      - var hours = 8;
      while n <= 13
        +hour(hours + ':00')
        +hour(hours + ':30')
        - n++;
        - hours = (hours)%12+1;
        

  // .timeline
// .hm-schedule

