- let school_list = Array.from(schools.sort(), school => school.toUpperCase())
- school_list = ['--Select University--'].concat(school_list);
- console.log(`school names in server: ${school_list}`);

div#university-select
    label#university-label.align-self-bottom.font-weight-bold(for='University') University:
    select#school-drop-down(name='school-select' class='form-control')
      for school in school_list
        option(value=school) #{school}

br
h6.input-form-title.p-1 Select Demographic(s):

div#demographics-div(class='d-flex')
    form(id='demographics-form' method='POST' action='')
      div#demographics-rows-group.drop-down-selectors(class='flex-col')
      br

if errors
  ul
    for error in errors
      li!= error.msg
