div(class="flex flex-col")
    div(class='d-flex  text-center')
        div(class='p-1 self-align-center') University:
        div(class='p-1')
            select
                option(value="volvo") Volvo
                option(value="mercedes") Mercedes
  
    div(id='container' class='flex flex-col')
      <!-- div#demog-row-N -->
          <!-- #demog-row-N child 1 --> 
          <!-- #demog-row-N child 2 -->
      <!-- end div -->

button(onclick='finish()' class='mt-12 px-12 finish-button') Finish
