body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* heatmap */
/* /heatmap */

/* input form */

#schedule-form-container {
 height: 100%;
 width: 100%;
 display: flex;
}

#schedule-container {
 width: 50%;
}

#user-input-form-container {
 width: 50%;
}

