/* Page-Wide Defaults */
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* END Page-Wide Defaults */

/* heatmap */
/* END heatmap */

/* input form */
#university-label {
    font-size: 22px
}

button {
  background: lightgrey;
  padding:10px
}

.add-demog-btn {
    background: lightblue;
    border-radius: 2em;
}

.hidden-buttons {
  margin-top: 1em;
  display: none;
}

/*
.flex-box {
   flex: 1;
   flex-shrink: 0;
}
*/
/* END input form */

/* TODO: make the schedule-form wrap on small screens */
#schedule-form-container { 
    height: 100%;
    width: 100%;
    display: flex;
}
/*
#schedule-container {
    width: 50%;
}

#user-input-form-container {
    width: 50%;
}
*/

